boto3==1.7.84
certifi==2018.8.24
chardet==3.0.2
configparser==5.0.0
croniter==1.3.8
dill==0.3.4
feedparser==6.0.1
fire==0.1.3
Flask-SQLAlchemy==2.5.1
flatten-dict==0.3.0
gcsfs==2023.1.0
gitlabdata==0.3.29
google==3.0.0
google-api-core==2.11.0
google-api-python-client==2.76.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-cloud==0.34.0
google-cloud-bigquery==3.5.0
google-cloud-core==2.3.2
google-cloud-speech==2.17.3
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
grpcio==1.51.1
grpcio-status==1.51.1
gspread==3.1.0
gspread_dataframe==3.0.2
henry==0.1.1
httpcore>=0.15.0
idna==2.7
ipwhois==1.1.0
ipython==7.14.0
Jinja2==3.1.2
keyrings.alt==3.4.0
lxml==4.5.0
MarkupSafe==2.1.2
numpy==1.24.2
oauth2client==4.1.3
oci==2.104.2
pandas==1.3.5
psycopg2-binary==2.8.5
pyarrow==5.0.0
pyasn1-modules==0.2.8
PyBambooHR==0.7.1
pylint==2.13.4
PyYAML==6.0.0
pytest
pytest-dotenv
pytz==2019.3
python-dateutil==2.8.2
remarshal==0.10.0
responses==0.22.0
requests==2.22.0
salesforce-bulk==2.1.0
simple-salesforce==1.1.0
six==1.13.0
slackclient==2.5.0
snowflake-connector-python==2.8.3
snowflake-sqlalchemy==1.4.3
sql-metadata==1.11.0
SQLAlchemy==1.4.47
sqlparse
tldextract==2.2.2
toolz==0.10.0
urllib3==1.25.10
xenon==0.9.0
zeep==3.4.0
